* {
    margin: 0;
    padding: 0;
}

nav {
    background: #222;
    padding: 0px 50px;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.menu li {
    font-size: 20px;
    padding: 15px 5px;
    white-space: nowrap;
}

.toggle a {
    font-size: 20px;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

    .item.active {
        display: block;
    }

/* Navbar Toggle */
.toggle {
    cursor: pointer;
}

.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

    .bars:before,
    .bars:after {
        background: #999;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .bars:before {
        top: 5px;
    }

    .bars:after {
        top: -5px;
    }

/* Tablet menu */
@media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }

    .space {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        order: 2;
    }

    .button.secondary {
        border: 0;
    }

    .button a {
        padding: 7.5px 15px;
        background: #222;
        border: 1px #222 solid;
    }

    .button.secondary a {
        background: transparent;
    }

    .button a:hover {
        text-decoration: none;
        transition: all .25s;
    }

    .button:not(.secondary) a:hover {
        background: #d90913;
        border-color: #d90913;
    }

    .button.secondary a:hover {
        color: #ddd;
    }
}

/* Desktop menu */
@media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    .item {
        order: 1;
    }

    .button {
        order: 2;
    }

    .menu li {
        padding: 15px 10px;
    }

        .menu li.button {
            padding-right: 0px;
        }
}

/* Dropdown Image */
.dropbtn {
    background-color: #222;
    color: white;
    padding: 3px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: -50px;
    background-color: #222;
    min-width: 100px;
    box-shadow: 0px 0px 0px 15px #222, 0px 0px 0px 17px black;
    z-index: 1;
}

.dropdown-button {
    color: white;
    background: #222;
    border: none;
    font-size: 20px;
    width: 190px;
    height: 45px;
}

    .dropdown-button:hover {
        background-color: #e50914;
        cursor: pointer;
    }

.dropdown-content div {
    padding: 5px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

body {
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

.gradient {
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient( to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100% );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.img-container {
    position: relative;
    height: 89vh;
}

.img-item {
    width: 198.5vh;
    height: 89vh;
    background-size: cover;
}

.title {
    position: absolute;
    top: 69vh;
    left: 2rem;
    right: 0;
    bottom: 0;
    font-size: 56px;
    color: white;
    font-weight: bolder;
}

.button-situation, .button-type, .button-value, .button-price {
    position: absolute;
    top: 80vh;
    left: 2rem;
    right: 0;
    bottom: 2rem;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    background-color: #e50914;
    border: none;
    min-width: 200px;
}

.button-type, .button-value, .button-price {
    background-color: rgba(255, 255, 255, 0.3);
}

.button-type {
    left: 17rem;
}

.button-value {
    left: 32rem;
}

.button-price {
    left: 47rem;
}

.main {
    padding-top: 56px;
    display: flex;
    padding-left: 4rem;
    align-items: center;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

.input {
    position: relative;
    top: -2px;
    left: 20px;
    padding: 7px 0px;
    font-size: 18px;
    font-family: sans-serif;
    border: none;
}

.search {
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px white, 
                0px 0px 0px 2px white;
}

.section {
    background: rgb(20, 20, 21);
    padding: 2rem 0;
}

.problem {
    padding-top: 2rem;
    padding-left: 2rem;
}

.problem:hover {
    cursor: pointer;
}

.container {
    max-width: 1130px;
    min-height: 50px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

.item-description {
    position: relative;
    right: 300px;
}

.info {
    font-size: 20px;
    border-collapse: separate;
    border-spacing: 0 12px;
}

.description, .bold-description {
    padding-left: 1rem;
    display: grid;
    max-width: 600px;
}

.bold-description {
    font-weight: bold;
}

h1 {
    padding-bottom: 2rem;
    padding-left: 4rem;
}

.swiper {
    border-radius: 10px;
    width: 96%;
    height: 100%;
    transition: .3s ease all;
}

.swiper-slide {
    text-align: center;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #222;
    border-radius: 10px;
    min-width: 307px;
    min-height: 450px;
}

.movies {
    color: white;
    font-size: 20px;
    max-width: 350px;
    max-height: 450px;
    border-radius: 10px;
    user-select: none;
    text-align: center;
}

    .movies:hover {
        cursor: pointer;
    }

.name, .movie-title {
    position: absolute;
    padding-top: 3rem;
    font-size: 40px;
    text-align: center;
    align-items: center;
    min-height: 70px;
    user-select: none;
    justify-content: center;
}

.name:hover {
    cursor: pointer;
}

.movie-title {
    bottom: 5px;
}

.videolandia {
    background: rgb(20, 20, 21);
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.footer {
    padding: 1rem 0 2rem 0;
    border-top: 1px solid black;
    background: rgb(20, 20, 21);
    text-align: center;
    display: grid;
    justify-items: center;
}

    .footer p {
        margin-top: 2rem;
        color: #757575;
        font-size: 13px;
    }